@model WebApplication1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambia password";
}

<main aria-labelledby="title">
    <section class="py-5 overflow-hidden">

        <div class="container mx-auto">
            <div class="row align-items-center">

                <div class="col 12 col-lg-6 mx-auto">
                    <div class="p-5 mt-5 bg-light rounded text-center">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <h3 class="fw-bold mb-5">Cambia Password</h3>


                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            <div class="form-outline mb-4">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.LabelFor(model => model.OldPassword, new { @class = "form-label", @for = "password" })
                            </div>
                           


                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            <div class="form-outline mb-4">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.LabelFor(model => model.NewPassword,  new { @class = "form-label", @for = "password" })


                            </div>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            <div class="form-outline mb-4">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword" })
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-label", @for = "password" })
                            </div>
                            if (ViewBag.password != null)
                            {
                                <p class="text-danger">
                                    @ViewBag.password
                                </p>
                            }
                        <div class="d-flex justify-content-between w-100">


                            <button class="btn btn-dark py-2 w-100 mb-4">Modifica</button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>









  
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}