@model WebApplication1.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Crea password";
}

@* crea pasword da gestione profilo *@
<main aria-labelledby="title">
    <section class="py-5 overflow-hidden">

      <div class="container mx-auto">
          <div class="row align-items-center">

              <div class="col 12 col-lg-6 mx-auto">
                  <div class="p-5 mt-5 bg-light rounded text-center">
                      @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { role = "form" }))
                      {
                          @Html.AntiForgeryToken()

                          <h3 class="fw-bold mb-5">Crea Password</h3>


                          @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                          <div class="form-outline mb-4">
                              @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                              @Html.LabelFor(model => model.NewPassword, new { @class = "form-label", @for = "password" })


                          </div>
                          @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                          <div class="form-outline mb-4">
                              @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword" })
                              @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-label", @for = "password" })
                          </div>
                       
                          <div class="d-flex justify-content-between w-100">


                              <button class="btn btn-dark py-2 w-100 mb-4">Imposta Password</button>
                          </div>
                      }
                  </div>
              </div>
          </div>
      </div>
  </section>

    
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}