@model WebApplication1.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reimposta password";
}

<main aria-labelledby="title">

   

        <section class="py-5 overflow-hidden">

            <div class="container mx-auto">
                <div class="row align-items-center">

                    <div class="col-12 col-lg-6 mx-auto">
                        <div class="p-5 mt-5 bg-light rounded text-center">
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                            {


                                @Html.AntiForgeryToken()

                                <h3 class="fw-bold mb-5">Reimposta password</h3>
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                @Html.HiddenFor(m=>m.Code)
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <div class="form-outline mb-4">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "Email" } })
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label", @for = "Email" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <div class="form-outline mb-4">
                                    @Html.PasswordFor(model => model.Password,new { @class = "form-control", @id = "Password" } )
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label", @for = "Password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                <div class="form-outline mb-4">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword" } )
                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label", @for = "ConfirmPassword" })
                                </div>


                                <div class="d-flex justify-content-between w-100">


                                    <button class="btn btn-dark py-2 w-100 mb-4">Reimposta</button>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
