@model IEnumerable<WebApplication1.Models.Ordini>

@{
    ViewBag.Title = "Gestione Ordini";
}

@* dashborad admin *@
<div class="container table-responsive mt-5 pt-5">
    <h4 class="text-center my-3">Gestione Ordini</h4>
    <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-2 justify-content-center">
            <div class="col">
                <div class="card">
                    <div class="card-header text-white bg-dark">
                        @* cerco i prodotti venduti e il totale di una determinata giornata *@
                        <h3 class="card-title">Statistiche giornaliere <i class="fa-solid fa-chart-line"></i></h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="form-group">
                                <label for="data">Seleziona una data:</label>
                                <input type="date" class="form-control" id="data" name="data" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <br />
                            <div class="form-group text-center">
                                <button type="button" id="visualizza-statistiche" class="btn btn-dark">Visualizza Statistiche</button>
                            </div>
                        </div>
                        <div class="mt-4">
                            <p id="p"> </p>
                            <p>
                                Elenco Prodotti venduti:
                            </p>
                            <ul class="list-group" id="numero-Prodotti">
                            </ul>

                            <p>
                                Totale incassato nella giornata:
                            </p>
                            <ul id="totale-incassato">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @* ordini totali dell'ecommerce' *@
            <div class="col">
                <div class="card">
                    <div class="card-header text-white bg-dark">
                        <h3 class="card-title">Ordini Totali</h3>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                        <p id="tot" ></p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        </div>
    </div>

@* lista dettaglio di tutti gli ordini in un accordion *@
    <div class="accordion accordion-borderless mt-5 container " id="accordionFlushExampleX">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOneX">
                <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseOneX" aria-expanded="true" aria-controls="flush-collapseOneX">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-cart-shopping me-3"></i>                    </div>
                    Vedi tutti gli ordini
                </button>
            </h2>
            <div id="flush-collapseOneX" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlushExampleX">
                <div class="accordion-body">
                    <div class="table-responsive">

                    <table class="table align-middle mb-0 bg-body-tertiary">
                        <thead class="bg-light">
                            <tr>
                                <th>Cliente</th>
                                <th>Indirizzo</th>
                                <th>Data Ordine</th>
                                <th>Quantità Prodotti</th>
                                <th>Totale Ordine</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">

                                            <img src="https://m.media-amazon.com/images/I/418wK+6vaQL.png"
                                                 alt=""
                                                 style="width: 45px; height: 45px"
                                                 class="rounded-circle" />
                                            <div class="ms-3">
                                                <p class="text-muted mb-0">@item.AspNetUsers.Nome</p>
                                                <p class="text-muted mb-0">@item.AspNetUsers.Cognome</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-muted mb-0">@item.AspNetUsers.Indirizzo</p>

                                    </td>
                                    <td>
                                        <p class="text-muted mb-0">@item.DataOrdine</p>

                                    </td>


                                    <td>

                                        @foreach (var i in item.DettagliOrdine)
                                        {

                                            <p class="text-muted">@i.Quantita Pz  - @i.Prodotti.NomeProdotto</p>
                                        }
                                    </td>

                                    @{
                                        decimal tot = Convert.ToDecimal(item.TotaleOrdine);
                                    }

                                    <td>
                                        <p class="fw-normal text-muted mb-1">@tot.ToString("C2") </p>
                                    </td>


                                    
                                </tr>
                            }

                        </tbody>
                    </table>
                    </div>




                </div>
            </div>
        </div>

    </div>

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @* ricercare gli ordini e il totale di una determinata data *@
<script>
        $(document).ready(function() {
            $('#visualizza-statistiche').click(function () {
                var newDate = $('#data').val()
                console.log(newDate)
                $('#numero-Prodotti').empty()
                $('#totale-incassato').empty()
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action("Lista","Ordini")',
                    data: { data: newDate },
                    success: function (response) {
                        console.log(response);
                        var totale=0
                        $.each(response, function (i, v) {
                            //totale
                            totale += v.TotaleOrdine
                            //creo li
                            var l = $(`<li class="list-group-item"> Ordine n:${v.IdOrdini}</li> `)
                            //creo ul
                            var ul = $(`<ul class="list-group" "></ul>`)

                            $.each(v.DettagliOrdine, function (i, e) {
                                console.log("ff", e)
                                //Creo li annidato
                                var c = `<li class="list-group-item">${e.Nome} - Quantità:${e.Quantita} </li> `
                                //Appendo li annidato
                                ul.append(c)

                                })
                            $("#p").html(`Numero Ordini: ${response.length}`)
                            //Appendo la ul al primo li
                            l.append(ul)

                            //Appendo li al primo ul
                            $('#numero-Prodotti').append(l)
                        })

                        $('#totale-incassato').append(totale.toLocaleString("it-IT", {style: 'currency',currency: 'EUR',}));
                    },
                    error: function(error) {
                    console.log(error);
                }
                })
            })
        //vedo il numero totale degli ordini
            $.ajax({
                method: "GET",
                url: '@Url.Action("TotOrdini","Ordini")',
                success: function (data) {
                    console.log(data)

                    $("#tot").html(`${data}`)
                }
            })

        })
</script>
    }
