@model IEnumerable<WebApplication1.Models.Prodotti>





<!-- Carosello -->
<div>

    <div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner shadow-4-strong">
            <!-- Single item -->
            <div class="carousel-item active" data-bs-interval="14000">
                <video source src="~/Content/Video/Cocktail video.mp4" autoplay muted loop;
                       class="d-block w-100 object-fit-cover i"></video>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Scopri la nostra collezione di cocktail</h5>
                    <a href="@Url.Action("ListaCocktail","Prodotti")" class="btn btn-dark opacity-75 mt-5">Acquista subito</a>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-bs-interval="14000">
                <img src="https://www.repstatic.it/content/contenthub/img/2022/01/11/120126965-ebe7f1d2-e043-473e-acad-995ea3772bad.jpg" class="d-block w-100 object-fit-cover i"
                     alt="Canyon at Nigh" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ogni cocktail è miscelato con i migliori ingredienti per offrirti una piacevole sensazione in ogni momento della giornata</h5>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-bs-interval="14000">
                <img src="~/Content/img/recycle.png" class="d-block w-100 object-fit-cover i"
                     alt="Cliff Above a Stormy Sea" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Per noi l'ambiente è importante</h5>
                    <p>Per questo utilizziamo prodotti 100% riciclabili</p>
                </div>
            </div>
        </div>


    </div>
</div>


@* cta search gpt *@
<!-- Jumbotron -->





<div class="">
    <div class="px-4 py-5 px-md-5 text-center bg-image" style=" background-image: url('../../Content/img/Screenshot 2023-11-16 112415.png'); height: 550px;  background-size: cover;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-start h-100">
                    <div class="col-lg-10">
                        <div class="text-white py-4">
                            <h5 class="my-md-5 mb-4  display-3 fw-semibold  ls-tight"> <span>Scopri il futuro della ricerca  </span> <br> <span>con l' Intelligenza Artificiale!</span> </h5>
                        </div>
                    </div>
                    <div>

                            <a class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2" href="@Url.Action("Search","SearchGpt")" role="button">Provalo Subito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Jumbotron -->
@*Bestseller*@

<div class="container-fluid bg-body-tertiary py-5">


    <!--Section: Content-->
    <section class="container dark-grey-text text-center mt-5 ">

        <!-- Section heading -->
        <h3 class="font-weight-bold mb-4 pb-2">I nostri bestsellers</h3>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">Brinda con i cocktail più amati di sempre</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            @foreach (var i in Model)
            {


                <div class="col-lg-3 col-md-6 mb-4">
                    <!-- Collection card -->

                    <div class="card collection-card z-depth-1-half h-100">
                        <!-- Card image -->
                        <div class="view zoom">
                            <a href="@Url.Action("DettagliProdotto","Prodotti",new {id=i.IdProdotti})">

                                <img src="~/Content/img/@i.FotoCopertina" class="img-fluid object-cover"
                                     alt="">
                            </a>
                            <div class="stripe dark">
                                <a href="@Url.Action("DettagliProdotto","Prodotti",new {id=i.IdProdotti})">

                                    <p>
                                        @i.NomeProdotto
                                        <i class="fas fa-angle-right"></i>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- Card image -->
                    </div>
                    <!-- Collection card -->
                </div>
            }
            <!-- Grid column -->
            <div class="d-flex justify-content-center">
                <a href="@Url.Action("ListaCocktail","Prodotti")" class="btn btn-dark mt-5">Scopri tutti i cocktail</a>
            </div>
        </div>
        <!-- Grid row -->

    </section>
    <!--istruzioni -->
    <div class="container-fluid py-5">

        <div class="row my-5">
            <h3 class="fs-big text-center mb-5">Ordinare è semplice</h3>
            <div class="d-flex flex-column align-items-center col-sm-12 col-md-6 col-lg-3">
                <h4 class="fs-istruzioni text-center">1</h4>
                <img src="https://lagranda.it/wp-content/themes/stockholm-child/assets/icon_cuore.png" alt="" />
                <p class=" text-center ps-3">Seleziona i prodotti che preferisci</p>
            </div>
            <div class="d-flex flex-column align-items-center col-sm-12 col-md-6 col-lg-3">
                <h4 class="fs-istruzioni">2</h4>
                <img src="https://lagranda.it/wp-content/themes/stockholm-child/assets/icon_cart.png" alt="" class="iconaOrdina" />
                <p class="ps-3">Aggiungi al Carrello</p>
            </div>
            <div class="d-flex flex-column align-items-center col-sm-12 col-md-6 col-lg-3">
                <h4 class="fs-istruzioni">3</h4>
                <img src="https://lagranda.it/wp-content/themes/stockholm-child/assets/icon_ceck.png" alt="" class="iconaOrdina" />
                <p class="ps-3">Completa l'ordine</p>
            </div>
            <div class="d-flex flex-column align-items-center col-sm-12 col-md-6 col-lg-3 ">
                <h4 class="fs-istruzioni">4</h4>
                <img src="https://marketplace.canva.com/UcK3w/MAEF4kUcK3w/1/tl/canva-glasses-toasting-flat-icon-MAEF4kUcK3w.png" alt="" class="fs-6" width="58" />
                <p class="ps-3">Gusta il prodotto</p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="@Url.Action("ListaCocktail","Prodotti")" class="btn btn-dark mt-5">Acquista subito</a>
            </div>
        </div>
    </div>

</div>

@* testimonial *@
<section class="mb-5 pb-5 container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4">Testimonials</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">

            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Maria Smantha</h5>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>"Sono una grande appassionata di cocktail, ma spesso non ho il tempo di andare in un bar per gustarli. Grazie a Cocktail, la qualità degli ingredienti è eccezionale, e le ricette sono facili da seguire. Ora posso godermi cocktail deliziosi comodamente a casa mia!"
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star-half-alt fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Lisa Cudrow</h5>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>Ho fatto diversi ordini su Cocktail e sono sempre rimasta soddisfatta. La consegna è veloce e affidabile, e i prodotti sono sempre di alta qualità. Adoro la varietà di scelte di cocktail e gli accessori disponibili. Questo negozio online ha davvero reso la mia esperienza di cocktail a casa un'esperienza straordinaria.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                     class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">John Smith</h5>
            <p class="px-xl-3">
                <i class="fas fa-quote-left pe-2"></i>Ho organizzato una festa a casa e volevo impressionare i miei ospiti con dei cocktail straordinari. Cocktail è stato il mio salvatore! Ho trovato tutto ciò di cui avevo bisogno. La mia festa è stata un successo grazie a questo ecommerce. Non vedo l'ora di organizzare la prossima!
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                </li>
                <li>
                    <i class="far fa-star fa-sm text-warning"></i>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- cookie Modal -->
@*<div class="modal position-absolute top-100" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal- modal-xl">
        <div class="modal-content">

            <div class="d-flex justify-content-center w-100 align-items-baseline">

                <div class="modal-body">Usiamo i cookie per offrirti la miglior esperienza di navigazione
                </div>
                <div>

                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Rifiuta
                    </button>
                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Accetta</button>
                </div>
            </div>

        </div>
    </div>
</div>*@


@section Scripts{
    <script>
        $(document).ready(function () {
        /*    $("#exampleModal").modal("show")*/

        })










    </script>


}